#vis {
    height: 500px;
    width:  100%;
    border: 1px solid blue;
    position: relative;
    background: rgba(50, 50, 255,0.3);
}

svg {
    width: 100%;
    height: 100%;
}

#graphs { 
   margin: 10px;
   font-size: 15px;
}

.graph {
	margin: 10px;
	color: blue;
}
.selected { 
	background-color: yellow;
}
